.Container{
    background-color: white;
    padding:16px 16px 16px 16px;
    border-top-style: solid;
    border-color:#4285F4;
    border-radius:10px 10px 10px 10px ;
    border-left-width: 20px;
    position: relative;
    left:190px;
    top:50px;
}